<div class="container mt-5">
    <h1 class="text-center">Welcome {{ user.username }}</h1>

    <div class="card text-center shadow">
      <div class="card-body">
        <h4 class="card-title">My Balance</h4>
        <p class="card-text">{{ getTransaction.budget }}</p>
      </div>
      <div class="row p-2">
        <div class="col">
            <!-- <button class="btn btn-success">Depositar</button> -->
           <app-transactions></app-transactions>
        </div>
    </div>
    </div>

    <div class="card mt-5 text-center shadow">
        <div class="card-body">
          <h4 class="card-title">Ultimos registros</h4>
          <p class="card-text" >
            <span class="badge badge-secondary">Type </span> "{{ getTransaction.type }}" |
            <span class="badge badge-secondary">Budget </span> {{ getTransaction.budget}} |
            <span class="badge badge-secondary">Time </span> {{ getTransaction.created_at }}
          </p>

        </div>
      </div>
</div>


