<div class="container">
    <h1 class="text-center mt-2">Log in</h1>
    <div class="row mt-2">
        <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6 col">
            <div class="card p-4 shadow-sm rounded">
                <form #logForm="ngForm"
                (ngSubmit)="logUser(logForm)">
                    <div class="card-content">
                        <input type="hidden" name="_id">
                        <div class="form-group">
                            <label class="badge badge-info" for="username">Username</label>
                            <input name="username" id="username" type="text" class="form-control"
                            #username="ngModel" [(ngModel)]="userService.selectedUser.username" required>
                        </div>
                        <div class="form-group">
                            <label class="badge badge-info" for="password">Password</label>
                            <input name="password" id="password" type="password" class="form-control"
                            #password="ngModel" [(ngModel)]="userService.selectedUser.password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                            <button class="btn button-outline bg-primary text-white" type="submit" name="submit">
                                Submit
                            </button>
                        </div>
                        <div class="col col-md-6">
                            <a [routerLink]="[ '/signup' ]" class="ml-5">Create an account</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>