<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalTransaction">
    Register Balance
</button>

<div class="modal fade" id="modalTransaction" tabindex="-1" aria-labelledby="transactionModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transactionModal">Register Balance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #trasactionForm="ngForm"
                (ngSubmit)="carryOutTransaction(trasactionForm)">
                <input type="hidden" name="username" #username="ngModel" [(ngModel)]="userService.selectedUser.username">
                <input type="hidden" name="_user_id" #_user_id="ngModel" [(ngModel)]="transactionService.selectedTransaction._user_id">
                    <div class="form-group">
                        <label for="concept" class="col-form-label">Concept:</label>
                        <input type="text" class="form-control" id="concept" name="concept"
                        #concept="ngModel" [(ngModel)]="transactionService.selectedTransaction.concept" required>
                    </div>
                    <div class="form-group">
                        <label for="budget" class="col-form-label">Budget:</label>
                        <input type="number" class="form-control" id="budget" name="budget"
                        #budget="ngModel" [(ngModel)]="transactionService.selectedTransaction.budget">
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">Type:</label>
                        <input list="type" class="form-control" name="type"
                        #type="ngModel" [(ngModel)]="transactionService.selectedTransaction.type" required>
                        <datalist id="type">
                            <option value="income">income</option>
                            <option value="expenses">expenses</option>
                        </datalist>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary ml-auto">Send message</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
