<div class="container">
    <h1 class="text-center mt-2">Sign in</h1>
    <div class="row mt-2">
        <div class="offset-md-3 col-md-6 col-12">
            <div class="card p-5 shadow-sm rounded my-5">
                <form  #userForm="ngForm"
                (ngSubmit)="addUser(userForm)">
                    <div class="card-content">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
                        <div class="form-group">
                            <label class="badge badge-info" for="username">Username</label>
                            <input name="username" id="username" type="text" class="form-control"
                            #username="ngModel" [(ngModel)]="userService.selectedUser.username" required>
                        </div>
                        <div class="form-group">
                            <label class="badge badge-info" for="password">Password</label>
                            <input name="password" id="password" type="password" class="form-control"
                            #password="ngModel" [(ngModel)]="userService.selectedUser.password" required>
                        </div>
                        <div class="form-group">
                            <label class="badge badge-info" for="conf_password">Confirm Password</label>
                            <input name="conf_password" id="conf_password" type="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label class="badge badge-info" for="email">Email</label>
                            <input name="email" id="email" type="email" class="form-control"
                            #email="ngModel" [(ngModel)]="userService.selectedUser.email" required>
                        </div>
                        <div class="form-group">
                            <label class="badge badge-info" for="fullname">Full name</label>
                            <input name="fullname" id="fullname" type="text" class="form-control"
                            #fullname="ngModel" [(ngModel)]="userService.selectedUser.fullname" required
                            >
                        </div>
                        <div class="form-group">
                            <label for="role" class="badge badge-info">Role</label>
                            <input list="role" class="form-control" name="role"
                            #role="ngModel" [(ngModel)]="userService.selectedUser.role" required>
                            <datalist id="role">
                                <option selected="true" disabled="disabled">Select one</option>
                                <option value="admin"></option>
                                <option value="user"></option>
                            </datalist>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn button-outline btn-block bg-primary text-white" type="submit" name="submit">Submit
                        </button>
                        <button class="btn button-outline btn-block bg-danger text-white" type="reset" name="reset"
                        (click)="resetForm(userForm)">Reset
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>