<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">Personal Budget </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapse">
        <ul class="navbar-nav ml-auto" routerLinkActive="active" >
                <li class="nav-item" >
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" [routerLink]="['/signup']">Sign up</a>
                </li>
        </ul>
    </div>
</nav>